.specie {
	width: 18%;
	display: inline-block;
	min-height: 230px;
	border-top: 7px solid #FF5D5D;
	vertical-align: top;
	margin: 0.7em;
	background: #f3f3f3;
}

.info {
	background: #eee;
	border: 1px solid #ddd;
	padding: 1em;
	margin: 0 1em;
	height: 120px;
}

body {
	font-family: "OpenSans";
	font-size: 16px;
}

img {
	width: 100%;
	display: block;
}

h1 {
	font-size: 1.7em;
	padding: 0.8em 0.5em;
}

.specie img {
	margin-top: 1em;
}

.specie h1 {
	font-size: 1.15em;
}

p {
	padding: 0 0.5em;
}

p, h1 {
	margin: 0;
	color: #333;
}

.re {
	border-top: 10px solid #760000;
}

.cr {
	border-top: 10px solid #FF5D5D;
}

.vu {
	border-top: 10px solid #FFB300;
}

.en {
	border-top: 10px solid #FB8C00;
}

.filter {
	height: 25px;
	background: #eee;
	border: 1px solid #ddd;
	margin: 0.5em 1em;
	font-weight: bold;
	padding: 1em;
}

.input {
	height: 25px;
	width: 400px;
	margin-left: 1em;
	font-size: 0.9em;
}

.filter-repo label {
	cursor: pointer;
}

.filter-repo {
	 -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	display: inline-block;
	cursor: pointer;
	margin-bottom: 10px;
}

.filter-repo i {
	margin-right: 3px;
	background: #6a6a6a;
	padding: 5px;
	border-radius: 3px;
	font-size: 1em;
	color: #777;
	cursor: pointer;
}

.filter-repo input[type="checkbox"]:checked + label i {
	color: white;
}

.filter-repo input[type="checkbox"] {
	display: none;
}

.filter-repo input[type="checkbox"]:checked + label i.anfíbios-legend {
	background: #29B6F6;	
}

.filter-repo input[type="checkbox"]:checked + label i.aves-legend {
	background: #26C6DA;	
}

.filter-repo input[type="checkbox"]:checked + label i.invertebrados-legend {
	background: #26A69A;
}

.filter-repo input[type="checkbox"]:checked + label i.mamíferos-legend {
	background: #66BB6A;	
}

.filter-repo input[type="checkbox"]:checked + label i.peixes-legend {
	background: #9CCC65;
}

.filter-repo input[type="checkbox"]:checked + label i.répteis-legend {
	background: #D4E157;
}

b {
	font-size: 14px;
	width: 58%;
	display: inline-block;
	vertical-align: middle;
}

.criterio {
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

.grupo {
	display: inline-block;
	width: 50%;
	margin: 0.5em 0;
}

.half-width {
	display: inline-block;
	width: 24.5%;
	vertical-align: bottom;
	height: 120px;
}

img.icon {
	width: 30px;
	display: inline-block;
	margin-top: 0;
}

.re-porcentage {
	background: #760000;
	display: inline-block;
	width: 25px;
	margin: 0.5em;
}

.cr-porcentage {
	background: #F4511E;
	display: inline-block;
	width: 25px;
	margin: 0.5em;
}

.en-porcentage {
	background: #FB8C00;
	display: inline-block;
	width: 25px;
	margin: 0.5em;
}

.vu-porcentage {
	background: #FFB300;
	display: inline-block;
	width: 25px;
	margin: 0.5em;
}

.filter-repo input[type="checkbox"]:checked + label i.re-legend {
	background: #760000;
}

.filter-repo input[type="checkbox"]:checked + label i.cr-legend {
	background: #F4511E;
}

.filter-repo input[type="checkbox"]:checked + label i.en-legend {
	background: #FB8C00;
}

.filter-repo input[type="checkbox"]:checked + label i.vu-legend {
	background: #FFB300;
}

.grupo span {
	width: 25px;
	height: 25px;
	border-radius: 3px;
	display: inline-block;
	margin: 0 0.5em;
	vertical-align: top;
}

.porcentage {
	display: inline-block;
	width: 30px;
	margin: 0.5em;
	color: white;
	font-weight: bold;
	text-align: center;
	vertical-align: bottom;
	min-height: 23px;
}

.anfíbios-legend {
	background: #29B6F6;	
}

.aves-legend {
	background: #26C6DA;	
}

.invertebrados-legend {
	background: #26A69A;
}

.mamíferos-legend {
	background: #66BB6A;	
}

.peixes-legend {
	background: #9CCC65;
}

.répteis-legend {
	background: #D4E157;
}